@import url('https://fonts.googleapis.com/css2?family=Abel&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --general-max-width: 1000px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Abel', sans-serif;
  background-color: #F4F4F4;
}

body, html {
    overflow-x: hidden;
}

h1, h2, h3, h4, .title {
    font-family: 'Playfair Display', serif;
}

